/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 768px;
}

.header__decor-text {
  position: absolute;
  inset-inline-end: 49px;
  inset-block-start: 21px;
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__decor-text::before {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  inset-inline-end: -20px;
  inset-block-start: 7px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--corners-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--corners-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-block-start: 20px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--button-text-color);
  font-family: inherit;
  font-size: var(--main-font-size);
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-active-color);
  pointer-events: none;
}

.header__title {
  padding-block-start: 239px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__text-block {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  inline-size: 50%;
  padding: 76px 20px 137px 0;
}

.header__paragraph {
  font-size: var(--main-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--main-line-height);
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

@media (width < 1024px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    padding: 192px 20px 0 0;
    gap: 13px;
  }

  .header__theme-menu-button {
    padding: 0 13px;
  }

  .header__title {
    padding-block-start: 147px;
  }

  .header__text-block {
    padding-block-start: 134px;
    padding-block-end: 184px;
  }
}

@media (width < 576px) {
  .header {
    min-height: 668px;
  }

  .header__theme-menu-list {
    padding: 75px 11px 38px;
    gap: 13px;
  }

  .header__decor-text {
    inset-inline-end: 39px;
    inset-block-start: 10px;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .header__title {
    padding-block-start: 30px;
    padding-inline-start: 10px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
  }

  .header__text-block {
    inline-size: 100%;
    padding: 55px 10px 66px;
  }
}

/* Основной контент */

.main {
  padding-block-start: 58px;
}

.content {
  display: grid;
  grid-template-columns: 32% 1fr;
  padding: 0 20px;
  gap: 20px;
}

.content__title {
  grid-row: span 2;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--content-title-color);
}

.content__text-block-item {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

.content__subtitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content__paragraph {
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.content:nth-of-type(2) {
  padding-block-start: 80px;
}

.content:nth-of-type(2) .content__title {
  grid-column: span 2;
  inline-size: 33%;
}

.content:nth-of-type(2) .content__text-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
  gap: 20px;
}

.content:nth-of-type(3) {
  padding-block-start: 80px;
}

.content:nth-of-type(3) .content__title {
  grid-row: span 1;
}

.content:nth-of-type(3) .content__text-block {
  display: grid;
  gap: 20px;
}

.regular-title {
  font-weight: var(--main-font-weight);
}

@media (width < 1024px) {
  .content:nth-of-type(2) .content__title {
    inline-size: 30%;
  }

  .content:nth-of-type(2) .content__text-block {
    grid-template-rows: repeat(3, min-content);
    grid-auto-flow: column;
  }

  .content:nth-of-type(2) .content__text-block-item {
    grid-column: span 3;
  }
}

@media (width < 576px) {
  .main {
    padding-block-start: 40px;
  }

  .content {
    display: block;
    padding: 0 10px;
  }

  .content__title {
    margin-block-end: 20px;
  }

  .content__text-block-item {
    margin-block-end: 20px;
  }

  .content:nth-of-type(2) {
    padding-block-start: 30px;
  }

  .content:nth-of-type(2) .content__title {
    inline-size: 100%;
  }

  .content:nth-of-type(2) .content__text-block-item {
    margin-block-end: 0;
  }

  .content:nth-of-type(3) {
    padding-block-start: 49px;
  }

  .content:nth-of-type(3) .content__text-block-item {
    margin-block-end: 0;
  }
}

/* Галерея */

.gallary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 80px 20px 60px 20px;
}

.content__picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallary .content__subtitle {
  grid-column: span 3;
}

.gallary__item:first-of-type {
  grid-column: span 2;
}

.gallary__item:nth-of-type(2) {
  grid-row: span 2;
}

.gallary__item:nth-of-type(3) {
  grid-row: span 2;
}

.gallary__item:last-of-type {
  grid-column: span 2;
}

@media (width < 576px) {
  .gallary {
    display: block;
    padding: 50px 10px 41px;
  }

  .gallary .content__subtitle {
    margin-block-end: 10px;
  }

  .gallary__item:not(:last-of-type) {
    margin-block-end: 10px;
  }
}
/* Футер */

.footer {
  position: relative;
  display: flex;
  height: 100vh;
}

.footer__title {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 281px 0;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width < 1024px) {
  .footer__title {
    padding: 434px 0;
  }
}

@media (width < 576px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding: 257px 0;
  }
}
